@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Tajawal', sans-serif;
    }
    
    svg {
        width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: -0.125em;
    }
}
